*, ::before, ::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Debut header */

.header{
    background-color: #1F2937;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

.haut{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:100px;
}
.haut ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
}
.haut ul li{
    list-style-type: none;
    padding:10px;
    margin-top:20px;
    font-size: 22px;
    color:#979a9e;
}
.logo{
    margin-left:300px;
    margin-top:20px;
}

.bas{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bas .gauche{
    width: 500px;
    height: 200px;
    /* background-color: blue; */
    margin-left:300px;
    
}
.gauche h1{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.gauche p{
    font-size: 18px;
    color:#E5E7EB;
}
.logo{
    font-size: 24px;
    color:#F9FAF8;
}
.bas .droite{
    width: 900px;
    height: 300px;
    background-color:#979a9e;
    margin-right:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 22px;
}
button{
    width:150px;
    height: auto;
    border-radius: 8px;
    padding:10px;
    background-color:#3882F6;
    color:white;
    font-size: 22px;
}

/* Fin header */


/* Partie II */

.some{
    text-align: center;
    margin-left: 200px;
    margin-bottom: 50px;
}
.partieII{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    gap:20px;  
}
.cards{
    width: 300px;
    height: 200px;
    border:2px solid blue;
    border-radius: 20px;
   
}

.sousPartieII{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    gap:20px;  
}
.sousPartieII p{
    width: 300px;
    height: auto;
    padding:20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

/* Fin partie II */


/* Partie III */

.PartieIII{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #979a9e;
}

.text{
    width: 600px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
}

.text p{
    font-size: 30px;
    text-align: center;
  
}

.PartieIII .auteur{
    margin-bottom: -180px;
    margin-left: -100px;
    font-weight: bold;
}

/* Fin Partie III */


/* Debut partie IV */

.PartieIV{
    width: 100%;
    height:300px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.container{
    width:70%;
    height: 200px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .left{
    width: 500px;
    height: 60px;
    /* background-color: yellow; */
    margin-left: 100px;
    color:white;
}
.container .right{
    width: 300px;
    height: 60px;
    /* background-color: red; */
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .right button{
    border:2px solid white;
    border-radius: 10px;
}

/* Fin partie IV */


/* footer */

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 30px;
}